<div class="sidebar-sticky pt-3">
  <h4 class="text-center">💪 C# Training</h4>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">🏠 Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Class-Operations">🧱 Class Operations</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Events">🔍 Events</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Object-Oriented-Programming">🧠 Object Oriented Programming</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Lists">📚 Lists</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Dictionaries">📚 Dictionaries</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Structs">📦 Structs</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Loops">🔄 Loops</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Conditionals">❓ Conditionals</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Delegates">🧠 Delegates</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Lambda-Functions">🧠 Lambda Functions</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Override">📘 Override</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Stack-Queue">📦 Stack Queue</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Interfaces">📘 Interfaces</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Indexers">📚 Indexers</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Error-Handling">🛠 Error Handling</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/What-is-a-Token">🔍 What is a Token?</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/pragma-Directive">🔧 #pragma Directive</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Lazy-Eager-Explicit-Loading">🔄 Lazy Eager Explicit Loading</a></li>

   
  </ul>
</div>
