body {
  font-family: system-ui, sans-serif;
}
.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.02);
}
.post-title{
  display: none;
}
.codeArea {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
/* header sticks to top of pre code blocks  */
pre header {
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;

  /* our button is placed at right side/end of header  */
  display: flex;
  justify-content: end;
}

/* code block */
pre:has(code) {
  position: relative;

  /* add scrollbar if there is overflow */
  overflow-y: auto;

  /* trigger overflow for purpose of demo */
  width: 200px;

  background-color:black;
  color:white;
  padding-inline: 0.25rem;
  padding-block-end: 1rem;
}

/* copy button */
pre:has(code) button{
   margin-block: 0.25rem 0.5rem;
}
